.tx{
    color: rgba(70, 212, 144, 1);
    
}
.btn12 {
    background-color:transparent ;
}
.btn13{
    background-color: rgba(70, 212, 144, 1);
}
@media only screen and (min-width:1024px) and (max-width: 1300px) {

    .tx{
       font-size: 1rem; 
    }
    
    
    }